.tile {
  display: grid;
  place-content: center;
  width: 100px;
  height: 100px;
}

.black-tile {
  background: #779556;
}

.white-tile {
  background: #ebecd0;
}

.tile .chess-piece-image {
  width: 90px;
}
