.tile {
  display: grid;
  place-content: center;
  width: 100px;
  height: 100px;
}

.tile .chess-piece {
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90px;
}

.chess-piece:hover {
  cursor: grab;
}

.black-tile {
  background: #779556;
}

.white-tile {
  background: #ebecd0;
}

.tile img {
  width: 90px;
}
