#chessboard {
  display: grid;
  grid-template-columns: repeat(8, 100px);
  grid-template-rows: repeat(8, 100px);
  background: blue;
  width: 800px;
  height: 800px;
}

.tile {
  width: 100px;
  height: 100px;
}

#chessboard .black-tile {
  background: #779556;
}
#chessboard .white-tile {
  background: #ebecd0;
}
